@model RoleManagementVM
<div class="card border-8 mt-4">
    <div class="card-header bg-primary mt-8 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Role Management</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input asp-for="ApplicationUser.Id" hidden />
            <div class="border p-3">
                <div class="form-floating py-1 col-12">
                    <input asp-for="ApplicationUser.Name" class="form-control border-0" />
                    <label asp-for="ApplicationUser.Name" class="ms-2 text-dark"></label>
                    <span asp-validation-for="ApplicationUser.Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="ApplicationUser.Email" readonly class="form-control border-0" />
                    <label asp-for="ApplicationUser.Email" class="ms-2 text-dark"></label>
                    <span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="ApplicationUser.PhoneNumber" class="form-control border-0" />
                    <label asp-for="ApplicationUser.PhoneNumber" class="ms-2 text-dark"></label>
                    <span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="ApplicationUser.StreetAddress" class="form-control border-0" />
                    <label asp-for="ApplicationUser.StreetAddress" class="ms-2 text-dark"></label>
                    <span asp-validation-for="ApplicationUser.StreetAddress" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="ApplicationUser.City" class="form-control border-0" />
                    <label asp-for="ApplicationUser.City" class="ms-2 text-dark"></label>
                    <span asp-validation-for="ApplicationUser.City" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="ApplicationUser.State" class="form-control border-0" />
                    <label asp-for="ApplicationUser.State" class="ms-2 text-dark"></label>
                    <span asp-validation-for="ApplicationUser.State" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="ApplicationUser.PostalCode" class="form-control border-0" />
                    <label asp-for="ApplicationUser.PostalCode" class="ms-2 text-dark"></label>
                    <span asp-validation-for="ApplicationUser.PostalCode" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <select asp-for="ApplicationUser.Role" asp-items="@Model.RoleList" class="form-select"></select>
                    <label asp-for="ApplicationUser.Role" class="ms-2 text-dark"></label>    
                </div>
                @{
                    var companyVisible = "display:none;";
                }
                @if(Model.ApplicationUser.Role == StaticDetail.Role_Company)
                {
                    companyVisible = "display:block;";
                }
                <div class="form-floating py-1 col-12">
                    <select asp-for="ApplicationUser.CompanyId" style="@companyVisible" asp-items="@Model.CompanyList" class="form-select"></select>
                </div>
                <div class="row pt-2">
                    <div class="col-5 col-md-3">
                        <button type="submit" class="btn btn-primary" style="width:150px">Update Role</button>
                    </div>
                    <div class="col-5 col-md-3">
                        <a asp-controller="User" asp-action="Index" class="btn btn-dark" style="width:150px">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () { // Checks if user clicked on the webapage
            $('#ApplicationUser_Role').change(function () { // Check if the role is triggered
                var selection = $('#ApplicationUser_Role Option:Selected').text(); // Gives the value that has been selected
                if (selection == 'Company') {
                    $('#ApplicationUser_CompanyId').show();
                }
                else {
                    $('#ApplicationUser_CompanyId').hide();
                }
            })
        })
    </script>
}
